html{
    box-sizing: border-box;
 }*,*:before,*:after {
  box-sizing:inherit;}
 
  *{

    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    
  }


 body {
  
  width: 1180px;
    margin:  auto;
    
  }

  header{

    background-image: url("http://placehold.it/600");
    
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
 
  #HEADER1{

    background-image: url(../images/header.jpg);
    
    height: 200px;
    width: 1169px;
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
  
  }

  .menu  , .findus{

    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Raleway', sans-serif;
    color:hsl(358, 66%, 67%);
    
    font-size: 80px;
    padding-top: 60px;
    

  }


  
  

#content{

    overflow: auto;
    height: 100%;
}

#nav , #feature, #footer {

    background-color:#e37578;
    padding: 10px;
    margin: 10px;
}
#feature1{

  background-color:#f9f9f9;
     padding: 0;
    margin: 0;
}
 

.one , .two , .three {

    background-color: #e37578;
    width: 373px;
    float: left;
    margin: 10px;
    border: 1px solid black;
}

.Adrees ,.SecondAdrees  {
 
  background-color: #f9f9f9;
   width: 570px;
   float: left;
   margin: 10px;
  border : 1px solid black;
  }
 
  .Map{

    background-color:#f9f9f9 ;
    padding:20% ;
  }

#nav ul {

    margin: 0;
    padding: 0;
    list-style: none;
    
}


 #nav ul li {
    
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 22%;
 }

 #nav ul li a {

    text-decoration: none;
    display: block;
    color: white;
    padding: 10px;
    
 }

 #nav ul li a:hover{

    background-color: white;
    color: black;
 }


.adress1 {

  color: palevioletred;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight :700 ;
}

.adress2 , .phone , .daily{

  color: black;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight :700 ;
}




.item1 {

  border-bottom: 1px dashed grey;
  max-width: 542px;
  margin-bottom: 20px;
}
.donuts , .coffe {

  background-color: #f9f9f9;
    width: 570px;
    float: left;
    margin: 10px;
    border: 1px solid black;

    border-bottom: 1px dashed grey;
 
}
.donuts , .item1 {

  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
 #content ,.donuts , .coffe,.h4{

    font-size: 20px;
    font-weight: 700;
    color: #242424;
    margin-bottom: 10px;
}
 span {

  float: right;
  color: orange;
  font-size:20px;
  font-weight: 700;

}

.iten2{

  border-bottom: 1px dashed grey;
  max-width: 542px;
  margin-bottom: 20px;
}

.coffe , .item2 {

  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
